<h1>$hero.getName()</h1>
<h2>$hero.getAge()</h2>
<h2>$hero.getPower()</h2>
<h2>$hero.getWeakness()</h2>

<a href="/squads/$squad.getId()/heroes/new">Add another Hero</a>
<a href="/heroes">All Heroes</a>