<!--<h1>welcome to the index</h1>-->


<!--
<a href="/squads/new">Add new squad</a>
<a href="/squads">view all squads</a>-->
<div class="landing">
	<h1 class="text-center">SQUAAAAAAAD!</h1>
</div>

<div class="giph text-center">
	<div class="container">
		<button id="btn1" class="btn btn-lg btn-default"><a href="/squads/new">Add New<br>Squad</a> </button>
	<button id="btn2" class="btn btn-lg btn-default"><a href="/squads">View All<br>Squads</a></button>
	</div>
	
</div>
