<!DOCTYPE html>
<html>
  <head>
    <title>SQUAD!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
      #[[
			<script
		 src="https://code.jquery.com/jquery-3.1.1.js"
		 integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
		 crossorigin="anonymous"></script>

		 <script type='text/javascript' src='js/jquery.particleground.js'></script>
			 <script src="js/script.js"></script>
     ]]#
  </head>
  <body>
    <div>

      #parse( $template )

    </div>
    

  </body>
</html>